.table {
	width: 100%;

	thead {
		background-color: darken($white, 2%);


		th {
			padding: 1rem;
			text-align: left;
		}
	}

	tbody {
		tr {
			&:first-child {
				padding-top: 2rem;
			}
		}

		td {
			text-align: left;
			padding: 1rem;
			border-bottom: 1px dashed $greyLight;
		}
	}

	&__image {
		@include media("<phone") {
		    display: none;
		}
	}

	a {
		@extend .btn;
		@extend .btn--green;
		text-align: right;
	}
}
