.combine__canvas {
	position: relative;
    display: flex;
	flex-flow: wrap row;
	// min-height: calc(100vh - 50rem);
	// min-width: calc(100vh - 50rem);
	// max-height: calc(100vh - 10rem);
	// max-width: calc(100vh - 10rem);
	margin: 0;
	background-color: #f8f8f8;

	@include media(">=desktop") {
		width: 66rem;
		height: 66rem;
	}

	@include media(">=tablet", "<desktop") {
		width: 54rem;
		height: 54rem;
	}

	@include media(">=phone", "<tablet") {
		width: 44rem;
		height: 44rem;
	}

	@include media(">=xs", "<phone") {
		width: 30rem;
		height: 30rem;
	}

	@include media("<xs") {
		width: 30rem;
		height: 30rem;
	}

	&:before {
		content: "";
		display: block;
		margin-top: 100%;
	}
}


.combine {
	flex: 1;
    position: relative;

	&__box {
		position: absolute;
		width: 33.333%;
		height: 33.333%;
		background-color: #f8f8f8;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		&--1 {
			left: 0;
			top: 0;
		}

		&--2 {
			left: 33.333%;
			top: 0;
		}

		&--3 {
			top: 0;
			right: 0;
		}

		&--4 {
			top: 33.333%;
			left: 0;
		}

		&--5 {
			top: 33.333%;
			left: 33.333%;
		}

		&--6 {
			top: 33.333%;
			right: 0;
		}

		&--7 {
			bottom: 0;
			left: 0;
		}

		&--8 {
			bottom: 0;
			left: 33.333%;
		}

		&--9 {
			bottom: 0;
			right: 0;
		}

		&--highlight {
			background-color: $greenLight;
			border: 1px solid rgba($black, 0.1);
		}

		.remove-piece {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			top: 1rem;
			left: 1rem;
			color: $red;
			transition: all 200ms ease-in-out;
		}

		&:hover {
			.remove-piece {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}


// Container for pices
.pieces {

	@include media(">=phone") {
		height: calc(100vh - 25rem);
		overflow-y: scroll;
	}
	@include media("<phone") {
	    height: 20rem;
		overflow: scroll;;
	}

	&__artist {
		display: flex;
	    align-items: flex-end;
		margin-bottom: 1rem;

		&--info {
			color: $greyLight;
			padding-right: 2rem;
			text-align: right;
			line-height: 1;
		}

		&--name {
			font-size: 2.4rem;

			@include media("<phone") {
			    font-size: 1.4rem;
			}
		}

		&---profession{
			font-size: 1.6rem;

			@include media("<phone") {
			    font-size: 1.2rem;
			}
		}

		&--image {
			max-width: 8rem;
			max-height: 8rem;
		}
	}
}

// pieces list
.piece {
	display: flex;
	flex-flow: wrap row;
	list-style: none;
	padding: 0;
	margin: -1rem 1rem 0 -1rem;
	min-height: 20rem;

	&__item {
		padding: 1rem;
		z-index: 9;

		@include media(">=phone") {
			width: 50%;
		}

		@include media(">=xs", "<phone") {
			width: 25%;
		}

		@include media("<xs") {
			width: 33.333%;
		}

		&--image {
			cursor: move;

			img {
				transition: all 200ms ease-in-out;
				transform: scale(1);
			    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.04);
			}
		}

		&--expand {
			z-index: 10;
			img {
				transform: scale(1.4);
			}
		}
	}

	&__dropped {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.canvas__bg {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


.ui {
	&-draggable {
		&-dragging {
			img {
				transform: scale(1.2);
				// box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
			    box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.3);
			}
		}
	}
}
