.modal {
	color: $white;
	text-align: center;

	&-header {
		border-bottom: 0;
		padding: 2rem;

		.logo {
			margin-bottom: 2rem;
		}

		h4 {
			font-family: $fontMain;
			color: $white;
			font-size: 1.8rem;
			font-weight: 700;
		}
	}

	&-close {
		position: absolute;
		right: 2rem;
		top: 1rem;
		font-size: 3rem;
		line-height: 1;
		font-weight: 700;
	}

	&-info {
		p {
			font-style: italic;
		}
	}

	&-form {
		padding: 0 2rem 2rem 2rem;

		a {
			color: $white;

			&:hover {
				color: $greenLight;
			}
		}
	}

	&-backdrop {
		z-index: 100;
		background-color: rgba($blueDark, 1);

		&.in {
			opacity: 1;
		}
	}

	&-dialog {
		position: absolute;
		top: 50%;
	    left: 0;
	    right: 0;

		@include media(">ipad") {
		    left: $menuWidth;
		}
	}

	&-content {
		min-height: 10rem;
		background-color: rgba($blueDark, 1);
	}

	&.in .modal-dialog {
	    transform: translate(0px, -50%);
	}
}


.modal-msg {
	z-index: 8899;

	&-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;

		&--inner {
			background-color: $blueDark;
			margin: 0 auto;
			width: 20rem;
			min-height: 20rem;
			padding: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: wrap column;
			border-radius: $round;

			h4 {
				margin-top: 1rem;
				margin-bottom: 0;
				font-family: $fontMain;
				color: $white;
				font-size: 1.8rem !important;
			}
		}
	}
}

.msg-backdrop {
	.modal-backdrop.in  {
		background-color:rgba($blueDark, 0.8);
		z-index: 8889;
	}
}


#succesModal {
	.fa {
		color: $greenLight;
		font-size: 10rem;
	}
}
