/*style menubar*/
aside[role=menubar] {
	position: fixed;
	z-index: 8887;
	height: calc(100% - 6rem);
	width: $menuWidth;
	background-color: $menubar;
	transition: all 200ms ease-in-out;
	transform: translateX(0);

	&.hide--nav {
		@include media("<=ipad") {
			transform: translateX(-100%);
		}
	}
}


/*Navigation*/
.navigation {
	position: relative;
	flex: 1;
	margin-top: 6rem;
}

.nav {
	margin: 0 0 0 1rem;
	padding: 0;
	font-weight: $fontWeightLight;
	font-size: 1.6rem;
	list-style-type: none;

	&--small {
		position: fixed;
		right: 0;
		z-index: 8888;
		top: 0rem;
		color: $greenLight;
		cursor: pointer;
		font-size: 2.6rem;
		line-height: 2.4;
		width: 6rem;
		height: 6rem;
		text-align: center;
		background-color: $blueDark;

		@include media(">tablet") {
			display: none;
		}

		@include media("<tablet") {

		}
	}

	&__item {
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		.fa {
			width: 2.6rem;
			display: inline-block;
		}

		> a {
			padding: 0.5rem 1rem;
			color: $menuLink;
			display: block;
		}

		&.active>a,
		a:hover {
			color: $white;
		}
	}
}


.dropdown {
	&-menu	{
		display: none;
		position: absolute;
		right: 0rem;
		z-index: 10;
		min-width: 14rem;
		padding: 0;
		margin: 0;
		background: darken($blueDark, 3%);
		list-style: none;

		&__item {
			a {
				display: block;
				padding: 1rem 2rem;
				color: $menuLink;

				&:hover {
					color: $white;
				}
			}
		}
	}

	&.open {
		.dropdown-menu {
			display: block;
		}
	}
}


#userinfo {
	display: flex;
	align-items: center;
	cursor: pointer;
    padding: 1rem;
	user-select: none;
	background-color: $blue;

	&:focus,
	&:hover {
		background: darken($blueDark, 3%);
		color: $white;
	}
}
