// Sorting and filtering
.options {
	display: flex;

	@include media(">=phone") {
		flex-direction: row;
		margin-top: -1rem;
		margin-bottom: 3rem;
	}

	@include media("<phone") {
		flex-flow: wrap column;
		text-align: center;
		margin-top: -2rem;
	}

	&__btn {
		&--item {
		    margin: 0 1rem 1rem 1rem;
			padding: 0.2rem 1rem;

			&:hover {
				color: $greenLight;
			}

			&.is-checked {
				background-color: $greenLight;
				color: $white;
				border-radius: $round;
			}
		}
	}

	&__sort {
		@include media("<phone") {
			margin-bottom: 2rem;
		}
	}

	&__filter {
		flex: 1;

		@include media("<phone") {
			margin-bottom: 2rem;
		}
	}
}


// Styling of sets list
$setPadding: 1.5rem;

@keyframes wiggle {
	0% {
		transform:rotate(0deg) scale(1);
	}

	33% {
		transform:rotate(2deg) scale(1.01);
	}

	66% {
		transform:rotate(-2deg) scale(1.01);
	}

	100% {
		transform:rotate(0deg) scale(1);
	}
}

.sets {
	display: flex;
	flex-wrap: wrap;

	&--container {
		transition: all 200ms ease-in-out;
	}

	&__filter {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0 0 0.6rem 0;

		&--item {
			margin: 0 1rem;
			padding: 0.2rem 1rem;

			&:hover {
				color: $greenLight;
			}

			&.is-checked {
				background-color: $greenLight;
				color: $white;
				border-radius: $round;
			}
		}
	}
}

.set {
	position: relative;
	padding: $setPadding;

	@include media(">=desktop") {
		width: calc(100% * (1/4));
	}

	@include media(">=tablet", "<desktop") {
		width: calc(100% * (1/3));
	}

	@include media(">phone", "<tablet") {
		width: calc(100% * (1/2));
	}

	@include media(">=xs", "<phone") {
		width: calc(100% * (1/2));
	}

	@include media("<xs") {
		width: 100%;
	}

	&__category {
		left: 3rem;

		&:before {
			font-family: FontAwesome;
			display: inline-block;
		}

		&--drawing {
			&:before {
				content: "\f040";
			}
		}

		&--photography {
			&:before {
				content: "\f030";
			}
		}

		&--painting {
			&:before {
				content: "\f1fc";
			}
		}

		&--graffiti {
			&:before {
				content: "\f134";
			}
		}
	}

	&__category,
	&--count {
		position: absolute;
		display: flex;
	    justify-content: center;
	    align-items: center;
		z-index: 9;
		top: 3rem;
		background: rgba($black, 0.2);
		width: 3rem;
		height: 3rem;
		border-radius: 0.5rem;
		border: 1px solid $greyLight;
		color: $white;
		font-size: 1.1rem;
	}

	&--count {
		right: 3rem;
	}

	&__image {
		filter: sepia(0);
		transform: scale(1);
		transition: all 200ms ease-in-out;

		a {
			display: block;
			min-width: 100%;
		}

		img {
			border-radius: $round;
			transition: all 200ms ease-in-out;
			width: 100%;
		}

		&:hover {
			filter: sepia(0.2);

			.wiggle {
				animation: wiggle 300ms 1;
			}
		}
	}

	&__info {
		display: flex;
		flex-flow: wrap row;
		margin-top: 1rem;
		color: $grey;

		&--title {
			flex: 1;
			font-family: $fontMain;
			font-size: 1.5rem;
			padding: 0 1rem 0 0rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&--date {
			display: block;
			font-size: 1.3rem;
		}

		&--like {
			position: relative;
		    align-self: flex-start;
			width: 4rem;
			height: 4rem;
			color: $red;
			font-size: 1rem;
			text-align: center;
		    opacity: 0.9;

			span {
				position: relative;
				z-index: 9;
				display: block;
    			margin-top: -0.4rem;
				width: 100%;
			}

			&:before {
				content: "\f08a";
				font-family: FontAwesome;
				position: absolute;
				z-index: 8;
				top: 0;
				left: 0;
				font-size: 4rem;
				color: $red;
				line-height: 1;
			}

			&.liked {
				color: $white;

				&:before {
					content: "\f004";
					color: $red;
				}
			}
		}
	}
}
