﻿@using Squares.Helpers

@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SocialMetaTags {
    <meta property="og:url" content="http://squaresapp.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Squares - @ViewBag.Title" />
    <meta property="og:description" content="Squares is a new project lunched by KongOrange. KongOrange is a freelance-based development bureau specialising in digital entertainment across multiple platforms." />
    <meta property="og:image" content="@HtmlExtensions.FullyQualifiedUri("~/Content/img/page/about.jpg")" />
}

<article class="container-fluid layout__container" role="contentinfo">
    <header class="page__title">
        <h1>About</h1>
        <a class="facebook-link" href="https://www.facebook.com/TheKongOrange/?fref=ts" target="_blank"></a>
    </header>

    <section class="row layout__text">
        <div class="col-md-6 col-sm-12">
            <p>
                Squares is a digital gallery for new art, where gallery visitors can fashion and create the final expression of the art pieces.
                On Squares artists create new artworks that are divided into small digital pieces that visitors can play around with and put together via a digital interface. Squares is an open art playground where you can purchase printed versions of the artists' works reworked into your particular personal design.
            </p>
            <p>
                Squares will be a global, user-driven and interactive gallery where people from around the globe can dive into the artworks and create works that fit their expression and experience.
                At the same time Squares is a fascinating and imaginative business concept that attracts artists, both because, of the initial challenge to their creativity, and because they can sell and profit from their work.
            </p>
            <p>Squares is a new project lunched by KongOrange. KongOrange is a freelance-based development bureau specialising in digital entertainment across multiple platforms.</p>
        </div>

        <div class="col-md-6 col-sm-12">
            <img class="img--round" srcset="~/Content/img/page/about.jpg" alt="About">
        </div>
    </section>

    <footer class="footer row">
        <div class="col-md-6 col-sm-12 col-xs-12 footer__logo">
            <img class="img--round" srcset="~/Content/img/page/logo-squares.png" alt="About">
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 footer__address">
            <p class="address">
                <span>Søskrænten 93 </span>
                <span>8260, Viby J</span>
                <span>Denmark </span>
                <span><a href="mailto:contact@squares.com?Subject=Squares">contact@squares.com</a></span>
            </p>
        </div>
    </footer>
</article>
