html {
	font-size: 10px;
	height: 100%;
}

body {
	height: 100%;
	font-size: 1.4rem;
	line-height: 1.6;
	font-family: $fontMain;
	font-weight: $fontWeightLight;
	color: darken($colorText, 20%);
	background-color: $white;
}

.wrapper {
	// display: flex;
	// flex-flow: row  wrap;
	min-height: 100%;
	padding-top: $headerHeight;
}

main[role=main] {
	padding: 3rem 2.5rem;
	transition: all 200ms ease-in-out;

	@include media(">ipad") {
		margin-left: $menuWidth;
		width: calc(100% - 20rem);
	}

	@include media("<xs") {
		padding: 5rem 0rem 2rem 0;
	}
}
