a,
button,
.btn {
	padding: 0;
	border: 0;
	text-decoration: none;
	outline: none;
	transition: all 200ms ease-in-out;
	background: none;

	&--green {
		background-color: $greenLight;
		padding: 1rem 2rem;
		border-radius: $round;
		color: $white;
		font-size: 1.6rem;
	    @extend .btn-shadow;

		@include media("<500px") {
			font-size: 1.1rem;
		}

		&:focus,
		&:hover {
			color: $white;
			background-color:darken($greenLight, 10%);
		}
	}

	&--blue {
		background-color: $blueLight;
		padding: 1rem 2rem;
		border-radius: $round;
		color: $white;
		font-size: 1.6rem;
		@extend .btn-shadow;

		@include media("<500px") {
			font-size: 1.1rem;
		}

		&:focus,
		&:hover {
			color: $white;
			background-color:lighten($blueLight, 10%);
		}
	}
}

.btn-shadow {
	box-shadow: 0 2px 3px 0px rgba($black, 0.4);

	&:hover {
		box-shadow: 0 2px 3px 1px rgba($black, 0.7);
	}
}

.btn {
	&-sign-in,
	&-login {
		background-color: $blue;
		color: $white;
		padding: 1rem 2rem;
		white-space: nowrap;

		@include media("<xs") {
		    padding: 1rem 1.5rem;
			font-size: 1.2rem;
		}

		&:hover {
			background-color: $black;
		}
	}

	&-login {
		@include media("<=ipad") {
			margin-right: 6rem;
		}
	}
}


.close-btn {
	position: absolute;
	bottom: -5rem;
	right: 4rem;
	color: $greenLight;
	font-size: 3rem;
	line-height: 1;
	width: 4rem;
	height: 4rem;
	transition: all 200ms ease-in-out;
	transform: rotate(0deg);

	&:hover {
		color: darken($greenLight, 20%);
	}

	&:after {
		content: "\f00d";
		font-family: FontAwesome;
	}

	&.closed {
		transform: rotate(45deg);
	}
}
