.create-set {
	&--container {
		display: flex;

		@include media("<phone") {
			flex-flow: wrap column;

			>div {
				&:first-child {
					order: 2;
				}

				&:nth-child(2) {
					order: 1;
					margin-bottom: 2rem;
				}
			}
		}
	}
}
