.footer {
	padding-top: 4rem;
	border-top: 1px solid $greyLight;

	&.row {
		@include media(">=tablet") {
		    display: flex;
		}
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;

		@include media("<tablet") {
			padding-bottom: 4rem;
		}

		&:after {
			content: "";
			position: absolute;
			background-color: $greyLight;

			@include media(">=tablet") {
				right: 0;
				top: 0;
				bottom: 0;
				width: 0.1rem;
			}

			@include media("<tablet") {
				right: 0;
				left: 0;
				bottom: 0;
				height: 0.1rem;
			}
		}
	}

	&__address {
		display: flex;
		justify-content: center;

		@include media("<tablet") {
			padding-top: 4rem;
		}
	}

	.address {
		display: inline-block;

		span {
			display: block;
		}
	}
}
