@keyframes error {
	0% {
		border: 1px solid $blueDark;
	}

	50% {
		border: 1px solid $red;
	}

	100% {
		border: 1px solid $blueDark;
	}
}

.SetForm {
	margin-bottom: 2rem;
}

.form {
	&__info {
		width: 100%;
		background-color: #fff;
		padding-bottom: 2rem;
	}

	&__row {
		// position: relative;
		// margin-bottom: 2rem;
	}

	&__required {
		position: absolute;
		top: 3.2rem;
		right: 3rem;
		font-size: 2rem;

		&.error {
			color: $red;
		}
	}
	label {
		display: block;

		&.error {
			margin-top: -2rem;
			margin-bottom: 2rem;
			color: $red;
		}
	}

	select {
		height: 4.4rem;
		background-color: $white;
	}

	select,
	input[type="text"],
	input[type="url"],
	input[type="file"],
	input[type="email"],
	input[type="password"],
	textarea {
		width: 100%;
		outline: none;
		display: block;
		border-radius: $round;
		transition: all 200ms ease-in-out;
		border: 1px solid $greyLight;
		padding: 1rem 1.5rem;
		position: relative;
		margin-bottom: 2rem;

		&:focus,
		&:active {
			border: 1px solid $blueDark;
			border-radius: 0;
		}

		&.input-validation-error {;
			animation: error 1s 2;
		}

		&.error {
			border: 1px solid $red;
			animation: error 1s 2;
		}
	}

	textarea {
		height: 12rem;
		resize: none;
	}

	input[type="submit"] {
		@extend .btn;
		padding: 1rem;
		display: block;
		background-color: $greenLight;
		color: $white;
		width: 100%;
		border-radius: $round;
		margin-top: 2rem;
		margin-bottom: 2rem;

		&:hover {
			background-color: darken($greenLight, 20%);
		}

		&.not-active {
			background-color: $greyLight;
			color: lighten($black, 20%);
		}
	}
}


.dropzone {
	display: flex;
	flex-flow: wrap row;
	height: auto;
	min-height: 15rem;
	border: 0;

	&:hover {

	}
}


.dz {
	&-message {
		text-align: center;
		padding: 1.5rem 2rem;
		margin-bottom: 2rem;
		cursor: pointer;
		line-height: 1;
		width: 100%;
		background-color: $greenLight;
		transition: all 200ms ease-in-out;
		border-radius: $round;
		color: $white;

		&:hover {
			background-color: darken($greenLight, 10%);
		}

		&-inner {
			padding: 2rem;
			border: 1px dotted $white;
		}

		p {
			padding-top: 0.5rem;
			padding-bottom: 0;
			margin: 0.2rem;
		}

		.fa {
			font-size: 4rem;
		}

		span {
			font-size: 1rem;
		}
	}

	&-preview {
		width: 20%;
		font-size: 12px;
		font-family: $fontMain;
	    padding: 1rem;
		position: relative;

		@include media(">=xs", "<phone") {
			width: calc(100% / 3);
		}

		@include media("<xs") {
		    width: calc(100% / 2);
		}

		&:first-child {
			margin-top: 3rem;
		}
	}

	&-image {
		border: 1px solid $greyLight;
		border-radius: $round;

		img {
			border-radius: $round;
		}
	}

	&-error-mark,
	&-success-mark {
		display: none;
	}

	&-details {

		display: none;
	}
	//
	// &-error-message {
	// 	color: darken($red, 20%);
	// }
}

.removePiece {
	position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 9;
    background: rgba($black, 0.5);
	border-radius: $round;
    width: 2rem;
    height: 2rem;
    line-height: 1;
	color: $white;

	&:hover {
		background-color: $red;
	}
}



.error {
	&--container {
		position: absolute;
		width: 100%;
		color: $red;
		min-height: 3rem;
	}
}


.form__login {
	position: relative;
	color: $colorText;

	.wrong-info {
		color: $white;
		background-color: $red;
		position: absolute;
		top: -7.4rem;
		z-index: 9;
		padding: 2rem;
		left: 0;
		right: 0px;
		font-size: 1.4rem;
		line-height: 1;
		border-radius: $round;
        display: none;
	}
}


#signupModal {
	.modal-dialog {
		top: 9rem;

		h3 {
			color: $white;
		}
	}

	.modal-header {
		padding: 2rem 2rem 1rem 2rem;
	}

	&.modal.in .modal-dialog {
        transform: translate(0px, 0%);
	}
}


// sign up form
.form__signup {
	position: relative;
	width: 100%;
	height: 50rem;
	color: $colorText;
	overflow: hidden;

	@include media("<phone") {
		height: 53rem;

		label.error {
			display: none !important;
		}
	}

	&--fieldset {
		position: absolute;
		width: 100%;
		transition: all 500ms ease-in-out;
		border: 0;


		&.onscreen {
			transform: translate(0%, 0%) scale(1);
		}

		&.animate-left {
			transform: translate(-100%, 0%) scale(0.6);
		}

		&.animate-right {
			transform: translate(100%, 0%) scale(0.6);
		}
	}
}


.progressbar {
	display: flex;
	margin: 3rem 0 1rem 0;
	padding: 0;
	list-style: none;
	color: $white;

	&__item {
		flex: 1;

		&.active {
			color: $greenLight;
		}
	}
}
