.header {
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	color: $headerText;
	background-color: $headerBg;
	height: $headerHeight;
	box-shadow: 0 0 10px 1px #2C3840;

	.logo {
		display: inline-block;
	    width: 180px;
	    height: 52px;
	    background: url('../img/page/logo-squares.svg') center center no-repeat;
	    background-size: contain;
		max-width: 90%;

		&--container {
			display: flex;
			align-items: center;
			justify-content: center;
			width: $menuWidth;
			max-width: 100%;

			@include media("<xs") {
			    width: 11rem;
			}
		}
	}
}
