#instructions {
	position: relative;
	padding: 0;
	background-color: $blueDark;
	border-radius: $round;

	@include media(">xs") {
		margin: 0 0 2rem 0;
	}

	@include media("<=xs") {
		margin: -3rem 1.5rem 2rem 1.5rem;
	}
}

.instructions {
	max-width: 114rem;
	display: flex;
	list-style: none;
	padding: 4rem;
	margin: 0 auto;
	flex-flow: wrap row;
	justify-content: space-between;

	@include media("<phone") {
	    padding: 1rem;
	}
}

.instruction {
	background-color: $white;
	border-radius: $round;
	overflow: hidden;
	margin: 1rem;

	@include media(">=tablet") {
	    width: 21rem;
	}

	@include media(">=xs", "<tablet") {
	    width: 26%;
	}

	@include media("<xs") {
	    width: 100%;
	}


	&__step {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10rem;
		background-color: $greenLight;
		color: $white;
		font-family: $heading;
		font-size: 6rem;

		@include media("<phone") {
			font-size: 3.2rem;
			height: 5rem;
		}
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10rem;
		padding: 1.5rem;
		font-size: 2.2rem;
		font-weight: $fontWeightNormal;
		line-height: 1.3;
		text-align: center;

		@include media("<phone") {
			font-size: 1.2rem;
			padding: 0.6rem;
			height: 5rem;

			.btn {
				padding: 1rem;
				font-size: 1.1rem;
			}
		}
	}
}
