/*Login form*/
.login {
	display: flex;
	overflow: hidden;

	&__form {
		display: flex;
		align-items: center;
		height: 3.6rem;
		padding-right: 1rem;
		transform: translateX(100%);
		transition: all 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);

		&.show {
			transform: translateX(0);
			padding-left: 4rem;
		}
	}
}
