.page__title {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid $greyLight;
	margin-bottom: 4rem;

	.facebook-link {
		text-align: center;
		line-height: 5rem;
		color: $white;

		&:after {
			content: "\f09a";
			font-family: FontAwesome;
			display: inline-block;
			font-size: 2.6rem;
			width: 5rem;
			height: 5rem;
			background-color: $black;
			border-radius: 5rem;
			margin-bottom: 0.6rem;
		}
	}
}
