.profile {
	margin-bottom: 3rem;
	&__container {
		display: flex;
		flex-flow: wrap row;
	}

	&__item {
		padding: 1rem;
	}

	&__image {

		@include media(">=xs") {
			flex: 1;
		}

		@include media("<xs") {
			width: 100%;
		}
	}

	&__name {
		@include media(">=desktop") {
			flex: 2;
		}

		@include media(">=xs", "<desktop") {
			flex: 3;
		}

		@include media("<xs") {
			width: 100%;
		}

		ul {
			display: inline-block;
			min-width: 28rem;
			padding: 2rem 1rem ;
			margin: 0 0 1rem 0;
			border-top: 1px solid rgba($greyLight, 0.3);
			border-bottom: 1px solid rgba($greyLight, 0.3);

			li {
				padding: 0.3rem 0;
			}
		}
	}
}


.profile__sets {
	@include media(">xs") {
		margin-right: -1.5rem;
		margin-left: -1.5rem;
	}

	.new {
		min-height: 20rem;
		
		&--inner {
			position: absolute;
			top: 1.5rem;
			right: 1.5rem;
			left: 1.5rem;
			bottom: 1.5rem;
			border: 1px dashed $greyLight;
			border-radius: $round;
		}
	}
}

.profile__set {

	&--like {
		position: absolute;
		z-index: 10;
		left: 3rem;
		top: 3rem;
	    align-self: flex-start;
	    width: 4rem;
	    height: 4rem;
	    color: #DC1414;
	    font-size: 1rem;
	    text-align: center;
	    opacity: 0.9;

		span {
			position: relative;
			z-index: 9;
			display: block;
			margin-top: 1rem;
			width: 100%;
			color: $white;
		}

		&:before {
			content: "\f004";
			font-family: FontAwesome;
			position: absolute;
			z-index: 8;
			top: 0;
			left: 0;
			font-size: 4rem;
			color: $red;
			line-height: 1;
		}
	}

	&--new,
	&--delete {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		text-align: center;

		a {
			font-size: 4rem;
		    color: #fff;
		    width: 7rem;
		    height: 7rem;
		    background: rgba($black, 0.5);

			&:hover {
				background: rgba($black, 0.9);
			}
		}
	}

	&--new {
		a {
			border-radius: 50%;
			line-height: 1.9;

			&:hover {
				animation: pulse 1s 2;
			}
		}
	}

	&--delete {
		a {
			border-radius: $round;
			line-height: 1.7;

			&:hover {
				animation: jello 1s;
			}
		}
	}
}
