.toolbar {
	&__user {
		display: flex;
		align-items: center;
		padding-right: 0rem;

		@include media("<ipad") {
		    padding-right: 6rem;
		}

		&--name {
			float: left;
			font-size: 1.6rem;

			@include media("<phone") {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 10rem;
			}

			@include media("<xs") {
			    display: none;
			}
		}

		&--thumb {
			float: left;
			display: inline-block;
			width: 4rem;
			height: 4rem;
			margin-left: 2rem;

			@include media("<xs") {
			    margin-left: 0;
			}
		}
	}
}
