a {
	display: inline-block;
	color: $greenLight;
	cursor: pointer;

	&:visited,
	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
		color: darken($greenLight, 20%);
	}
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0.5rem 0;
	line-height: 120%;
	font-family: $heading;
	font-weight: $fontWeightLight;
	color: $blueDark;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 3.4rem;
}

h4 {
	font-size: 2.2rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}


p {
	padding: 0;
	margin: 0.5rem 0 1rem 0;
}


.img {
	&--round {
		border: 0;
		border-radius: 0.5rem;
	}
}

img {
	max-width: 100%;
	display: inline-block;
}
