@import url(https://fonts.googleapis.com/css?family=Damion|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);


/*Font settings*/
$fontMain: 'Roboto', sans-serif;
$heading: 'Damion', cursive;
$fontWeightThin: 100;
$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightBold: 700;

/*Colors*/
$black: #000000;
$white: #ffffff;
$blueDark: #212B31;
$blue: #2C3840;
$blueLight: #343f47;
$greenLight: #38BDA6;
$grey: #95989A;
$greyLight: #B9BCC0;
$red: #DC1414;


/*Color elements*/
$headerBg: $blueDark;
$headerText: $greyLight;
$menubar: $blue;
$colorText: $grey;
$menuLink: $greyLight;
$modalBg: #777a7f;


/*Dimensions*/
$headerHeight: 6rem;
$menuWidth: 20rem;
$logoWidth: $menuWidth;

/*radius*/
$round: 0.5rem;
