﻿@using Squares.Helpers
@model Squares.Models.ViewModel.SetDataView

@{
    ViewBag.Title = "Discover sets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SocialMetaTags {
    <meta property="og:url" content="http://squaresapp.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Squares" />
    <meta property="og:description" content="Squares is a digital gallery for new art, where you can fashion and create the final expression of the art pieces." />
    <meta property="og:image" content="@HtmlExtensions.FullyQualifiedUri("~/Content/img/page/about.jpg")" />  
}

<div id="sets--container" class="sets--container">
    @if (Model.CurrentUser == null)
    {
        <!-- Instruction -->
        <section id="instructions" class="container-fluid">
            <ul class="instructions">
                <li class="instruction">
                    <div class="instruction__step">1</div>
                    <div class="instruction__text">Choose a <br>set</div>
                </li>

                <li class="instruction">
                    <div class="instruction__step">2</div>
                    <div class="instruction__text">Combine to a uniqe piece of art</div>
                </li>

                <li class="instruction">
                    <div class="instruction__step">3</div>
                    <div class="instruction__text"><button class="btn btn--green" data-toggle="modal" data-target="#loginModal">TRY IT OUT!</button></div>
                </li>
            </ul>

            <button id="closeInstructions" class="close-btn" name="close"></button>
        </section>
    }

    <!-- Page title -->
    <section class="container-fluid">
        <header class="page__title">
            <h1>Discover sets</h1>
        </header>
    </section>

    <!-- Options  -->
    <section class="options container-fluid">
        <div id="filters" class="button-group options__filter">
            <button class="options__btn--item is-checked" data-filter="*">All</button>
            <button class="options__btn--item " data-filter=".filter__photography">Photography</button>
            <button class="options__btn--item " data-filter=".filter__graffiti">Graffiti</button>
            <button class="options__btn--item " data-filter=".filter__drawing">Drawing</button>
            <button class="options__btn--item " data-filter=".filter__painting">Painting</button>
        </div>

        <div id="sorts" class="button-group options__sort">
            <button class="options__btn--item is-checked" data-sort-value="likes">Likes</button>
            <button class="options__btn--item " data-sort-value="date">Date</button>
            <button class="options__btn--item " data-sort-value="pieces">Pieces</button>
        </div>
    </section>

    <!-- List all sets  -->
    <section class="sets contianer-fluid">
        @foreach (var set in Model.Sets)
        {
            <article class="set filter__@set.Category.CategoryTitle.ToLower()" data-category="filter__@set.Category.CategoryTitle.ToLower()">
                <div class="set__image">
                    <a href="@Url.Action("Combine", "Set", new { id = @set.SetID })">
                        <div class="set__category set__category--@set.Category.CategoryTitle.ToLower()"></div>
                        <div class="set--count">@set.Pieces.Count</div>
                        <img src="@Url.Content("~/Content/img/sets/set" + set.SetID + "/" + set.SetCoverImage)" class="wiggle" alt="@set.SetTitle">
                    </a>
                </div>

                <div class="set__info">
                    <p class="set__info--title">
                        <span>@set.SetTitle</span>
                        <time data-time="@set.SetCreatedDate.ToString("yyyy-MM-dd HH:MM")" class="set__info--date date">@HtmlExtensions.dateToPrettyDate(@set.SetCreatedDate)</time>
                    </p>
                    @if (Model.CurrentUser != null && set.Likes.Any(l => l.LikeUserID == Model.CurrentUser.UserID))
                    {
                        <button class="set__info--like like--btn liked" data-setid="@set.SetID">
                            <span class="likes">@set.Likes.Count</span>
                        </button>
                    }
                    else if (Model.CurrentUser != null)
                    {
                        <button class="set__info--like like--btn" data-setid="@set.SetID">
                            <span class="likes">@set.Likes.Count</span>
                        </button>
                    }
                    else
                    {
                        <button class="set__info--like">
                            <span class="likes">@set.Likes.Count</span>
                        </button>
                    }
                </div>
            </article>
        }

    </section>

</div>
