﻿@model Squares.Models.ViewModel.UserDataView

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid">
    <header class="page__title">
        <h1>Manage Accounts</h1>
    </header>
</section>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>No. of sets</th>
            <th>No. of liked sets</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr data-userid="@user.UserID">
                <td>@user.UserID</td>
                <td>
                    <div class="toolbar__user--thumb" style="margin-left: 0px;">
                        @if (Model.UsersThumbnail[user.UserID] == "")
                        {
                            <img class="img--round" src="@Url.Content("~/Content/img/users/default/default-profileimage-thumbnail.jpg")" alt="@user.UserFirstName @user.UserLastName">
                        }
                        else
                        {
                            <img class="img--round" src="@Url.Content("~/Content/img/users/user" + user.UserID + "/" + Model.UsersThumbnail[user.UserID])" alt="@user.UserFirstName @user.UserLastName">
                        }
                    </div>
                </td>
                <td>@user.UserEmail</td>
                <td>@user.UserFirstName</td>
                <td>@user.UserLastName</td>
                <td>@user.Sets.Count</td>
                <td>@user.Likes.Count</td>
                <td>
                    @if (user.UserID != Model.CurrentUser.UserID)
                    {
                        <button class="btn btn--green lnkDelete">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade modal-msg" id="loadingModal">
    <div class="modal-msg-content">
        <div class="modal-msg-content--inner">
            <div>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <h4>Don't refresh page</h4>
            <p>Deleting account...</p>
        </div>
    </div>
</div>

<div class="modal fade modal-msg" id="succesModal">
    <div class="modal-msg-content">
        <div class="modal-msg-content--inner">
            <div>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <p>Account deleted</p>
        </div>
    </div>
</div>

<script>
    function DeleteSuccess() {
        setTimeout(function () {
            $("#loadingModal").modal('hide');

            $("#succesModal").modal('show');
            setTimeout(function () {
                $("#succesModal").modal('hide');
            }, 1000);
        }, 500);
    }

    function DeleteAccount(tr, id) {
        $.ajax({
            type: "POST",
            url: "@(Url.Action("Delete", "Account"))",
            data: { id: id },
            success: function (data) {
                tr.remove();
                DeleteSuccess();
            }
        });
    }

    $("button.lnkDelete").on("click", function () {
        var tr = $(this).closest('tr')
        var id = tr.data('userid');

        var answer = confirm("Are you sure you wanna delete this account");
        if (answer) {
            $('#loadingModal').modal('show');
            DeleteAccount(tr, id);
        }
    });
</script>
