﻿@model Squares.Models.ViewModel.UserLoginView

<header class="header" role="banner">
    <div class="logo--container">
        <a href="@Url.Action("Index", "Home")" class="logo"></a>
    </div>

    @if (HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"] == null)
    {
        if (Request.IsAuthenticated)
        {
            @Html.Action("UserDetailsMenu", "Account")
        }
        else
        {
            <div class="modal fade modal-msg" id="succesModal">
                <div class="modal-msg-content">
                    <div class="modal-msg-content--inner">
                        <div>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <p>Account created</p>
                    </div>
                </div>
            </div>

            <div class="login">
                <button id="btn--sign-in" type="button" class="btn-sign-in" data-toggle="modal" data-target="#signupModal">Sign up</button>
                <button id="btn--login" class="btn-login" value="Login" data-toggle="modal" data-target="#loginModal">Login</button>

                <!-- MODAL SIGNUP -->
                <div class="modal fade" id="signupModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Signup</h3>
                                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-form">
                                <form id="form__signup" class="form form__signup" method="post" enctype="multipart/form-data">
                                    <!-- error contianer -->
                                    <div class="error--container">
                                        <span></span>
                                    </div>

                                    <!-- progressbar -->
                                    <ul id="progressbar" class="progressbar">
                                        <li class="progressbar__item active">Account details</li>
                                        <li class="progressbar__item">Personal Details</li>
                                    </ul>

                                    <!-- fieldsets -->
                                    <fieldset class="form__signup--fieldset onscreen">
                                        <div class="form__row row">
                                            <div class="col-sm-6 col-xs-12">
                                                <input type="text" name="fname" placeholder="First Name" required minlength="2" title="Please enter your name" tabindex="1" />
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <input type="text" name="lname" placeholder="Last Name" required minlength="2" title="Please enter your lastname" tabindex="1" />
                                            </div>
                                        </div>

                                        <div class="form__row row">
                                            <div class="col-xs-12">
                                                <input type="email" name="email" placeholder="Email" required title="Please enter your email" tabindex="1" />
                                            </div>
                                        </div>

                                        <div class="form__row row">
                                            <div class="col-xs-12">
                                                <input type="password" id="password" name="password" placeholder="Password" required minlength="3" title="Enter a password" tabindex="1" />
                                            </div>
                                        </div>

                                        <div class="form__row row">
                                            <div class="col-xs-12">
                                                <input type="password" id="password_again" name="password_again" placeholder="Confirm Password" minlength="3" required title="Password not a match" tabindex="1" />
                                            </div>
                                        </div>

                                        <div class="form__row row">
                                            <div class="col-xs-12">
                                                <input type="button" name="next" class="next btn btn--blue" value="Next" tabindex="1" />
                                            </div>
                                        </div>

                                    </fieldset>

                                    <fieldset class="form__signup--fieldset animate-right">
                                        <div class="form__row row">
                                            <div class="col-sm-6 col-xs-12">
                                                <input type="text" name="country" placeholder="your country" tabindex="-1" />
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <input type="text" name="city" placeholder="your city" tabindex="-1" />
                                            </div>
                                        </div>

                                        <div class="form__row row">
                                            <div class="col-xs-12">
                                                <input type="url" name="website" placeholder="your website url. ex: https://google.com " tabindex="-1" />
                                            </div>
                                        </div>

                                        <div class="form__row row">
                                            <div class="col-xs-12">
                                                <input type="text" name="profession" placeholder="your profession" tabindex="-1" />
                                            </div>
                                        </div>

                                        <div class="form__row row">
                                            <div class="col-xs-12">
                                                <label for="">Profile image</label>
                                                <input type="file" name="imageUpload" title="Upload a profile image" tabindex="-1" />
                                            </div>
                                        </div>

                                        <div class="form__row row">
                                            <div class="col-xs-12">
                                                <input type="button" name="previous" class="previous btn btn--blue" value="Previous" tabindex="-1" />
                                            </div>
                                        </div>

                                        <input type="submit" name="submit" class="submit action-button" value="Signup" tabindex="-1" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MODAL LOGIN -->
                <div class="modal fade" id="loginModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a href="@Url.Action("Index", "Home")" class="logo"></a>
                                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </div>
                                </div>

                                <div class="modal-info form__row row">
                                    <div class="col-xs-12">
                                        <h4>Login to Squares and get inspired…</h4>
                                        <p>Browse and like all sets</p>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-form">
                                <form class="form form__login" id="loginForm">
                                    <div class="wrong-info"></div>
                                    <div class="form__row row">
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.UserEmail, new { required = "true", placeholder = "Your email", type = "email", maxlength = "50" })
                                        </div>
                                    </div>

                                    <div class="form__row row">
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.UserPassword, new { required = "true", placeholder = "Your password", type = "password" })
                                        </div>
                                    </div>

                                    <div class="form__row row">
                                        <div class="col-xs-12"><input type="submit" id="loginSubmit" name="imageUpload" value="Login"></div>
                                    </div>

                                    <div class="form__row row no-margin-bottom">
                                        <div class="col-xs-12"><a data-dismiss="modal" data-toggle="modal" data-target="#signupModal">Don’t have a profile yet?<br>Sign up to get started!</a></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else if (HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"].ToString() == "Admin")
    {
        <button id="btn--login" class="btn-login" value="Logout" onclick="location.href='@Url.Action("Logout", "Account", new { Area = "" })'">Logout</button>
    }
</header>
