﻿@using Squares.Models.ViewModel
@using Squares.Helpers

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Squares - @ViewBag.Title</title>
        <link rel="icon" href="@Url.Content("~/Content/img/favicon.ico")" />
        <meta name="description" content="Squares is a site about...">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @if (IsSectionDefined("SocialMetaTags"))
        {
            @RenderSection("SocialMetaTags")
        }
        else
        {
            // Fallback if no section with SocialMetaTags is defined
            <meta property="og:url" content="http://squaresapp.azurewebsites.net/" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Squares" />
            <meta property="og:description" content="Squares is a digital gallery for new art, where you can fashion and create the final expression of the art pieces." />
            <meta property="og:image" content="@HtmlExtensions.FullyQualifiedUri("~/Content/img/page/about.jpg")" />
        }

        <link href="~/Content/css/main.min.css" rel="stylesheet" type="text/css" />

        <script src="~/Content/js/main.min.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
		              var js, fjs = d.getElementsByTagName(s)[0];
		              if (d.getElementById(id)) return;
		              js = d.createElement(s); js.id = id;
		              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
		              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        @Html.Partial("_Header", new UserLoginView())

        <div id="nav--small" class="nav--small"><i class="fa fa-bars" aria-hidden="true"></i></div>

        <div class="wrapper">
            <!-- Sidebar with menu -->
            @Html.Partial("_Menu")

            <main id="main" role="main">
                @RenderBody()
            </main>
        </div>
    </body>
</html>
