﻿@using Squares.Helpers;

<aside class="sidebar sidebar--left hide--nav" role="menubar">
    <nav class="navigation" role="navigation">
        <ul class="nav" role="menu">
            @if (HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"] == null)
            {
                <li class="nav__item @Html.IsSelected(actions: "Index", controllers: "Home")"><a role="menuitem" href="@Url.Action("Index", "Home")"><i class="fa fa-search" aria-hidden="true"></i>Discover</a></li>
                <li class="nav__item @Html.IsSelected(actions: "Create", controllers: "Set")">
                    @if (Request.IsAuthenticated)
                    {
                        <a role="menuitem" href="@Url.Action("Create", "Set")"><i class="fa fa-plus" aria-hidden="true"></i>Create set</a>
                    }
                    else
                    {
                        <a role="menuitem" data-toggle="modal" data-target="#loginModal"><i class="fa fa-plus" aria-hidden="true"></i>Create set</a>
                    }
                </li>
                <li class="nav__item @Html.IsSelected(actions: "Index", controllers: "About")"><a role="menuitem" href="@Url.Action("Index", "About")"><i class="fa fa-info" aria-hidden="true"></i>About</a></li>
            }
            else if (HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"].ToString() == "Admin")
            {
                <li class="nav__item @Html.IsSelected(actions: "Index", controllers: "Home")"><a role="menuitem" href="@Url.Action("Index", "Home")"><i class="fa fa-plus" aria-hidden="true"></i>Sets</a></li>
                <li class="nav__item @Html.IsSelected(actions: "Index", controllers: "Account")"><a role="menuitem" href="@Url.Action("Index", "Account")"><i class="fa fa-user" aria-hidden="true"></i>Accounts</a></li>
                <li class="nav__item"><a role="menuitem" href="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to Squares</a></li>
            }
        </ul>
    </nav>

    @if (HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"] == null)
    {
        <!-- Sharing -->
        <div class="share" role="share">
            <div class="share__container">
                <div class="fb-share-button" data-layout="button" data-mobile-iframe="true"></div>
            </div>
        </div>
    }
</aside>
