﻿@model Squares.Models.ViewModel.CurrentUser

<div class="toolbar__user">
    <div class="dropdown">
        <button id="userinfo" data-toggle="dropdown">
            <p class="toolbar__user--name">@Model.UserFirstName @Model.UserLastName</p>
            <div class="toolbar__user--thumb">
                @if (Model.UserProfileImageThumbnail == "")
                {
                    <img class="img--round" src="@Url.Content("~/Content/img/users/default/default-profileimage-thumbnail.jpg")" alt="@Model.UserFirstName @Model.UserLastName">
                }
                else
                {
                    <img class="img--round" src="@Url.Content("~/Content/img/users/user" + Model.UserID + "/" + Model.UserProfileImageThumbnail)" alt="@Model.UserFirstName @Model.UserLastName">
                }
            </div>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="userinfo">
            <li class="dropdown-menu__item"><a role="menuitem" href="@Url.Action("Details", "Account", new { id = Model.UserID })">Profile</a></li>
            @if (@Model.UserIsAdmin)
            {
                <li class="dropdown-menu__item"><a role="menuitem" href="@Url.Action("Index", "Home", new { area = "Admin" })">Admin</a></li>
            }
            <li class="dropdown-menu__item"><a role="menuitem" href="@Url.Action("Logout", "Account")"> Logout</a></li>
        </ul>
    </div>
</div>