﻿@model Squares.Models.ViewModel.SetCombineView
@using Squares.Helpers

@{
    ViewBag.Title = "Combine set";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SocialMetaTags {
    <meta property="og:url" content="http://squaresapp.azurewebsites.net/Set/Combine/@Model.Set.SetID" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Squares - @ViewBag.Title" />
    <meta property="og:description" content="Try to combine small digital pieces to create a new expression of art." />
    <meta property="og:image" content="@HtmlExtensions.FullyQualifiedUri("~/Content/img/sets/set" + @Model.Set.SetID + "/" + @Model.Set.SetCoverImage)" />
}

<!-- Page title -->
<section class="container-fluid layout">
    <header class="page__title">
        <h1>Combine pieces</h1>

        <div class="pieces__artist">
            <div class="pieces__artist--info">
                <a href="@Url.Action("Details", "Account", new { id = Model.SetUser.UserID })">
                    <p class="pieces__artist--name">@Model.SetUser.UserFirstName @Model.SetUser.UserLastName</p>
                </a>
                <p class="pieces__artist--profession">@Model.SetUser.UserProfession</p>
            </div>

            <div class="pieces__artist--image">
                <a href="@Url.Action("Details", "Account", new { id = Model.SetUser.UserID })">
                       @if (Model.SetUserThumbnail == "")
                       { 
                           <img class="img--round" src="@Url.Content("~/Content/img/users/default/default-profileimage-thumbnail.jpg")" alt="@Model.SetUser.UserFirstName @Model.SetUser.UserLastName">
                       }
                       else
                       {
                           <img class="img--round" src="@Url.Content("~/Content/img/users/user" + Model.SetUser.UserID + "/" + Model.SetUserThumbnail)" alt="@Model.SetUser.UserFirstName @Model.SetUser.UserLastName">
                       }
                </a>
            </div>
        </div>
    </header>
</section>

<section class="container-fluid combine--container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <aside class="pieces">
                <div id="piece" class="piece">
                    @foreach (var piece in Model.SetPieces)
                    {
                        <div class="piece__item">
                            <div class="piece__item--image">
                                <img class="img--round" src="@Url.Content("~/Content/img/sets/set" + Model.Set.SetID + "/" + piece.PieceImage)" alt="">
                            </div>
                        </div>
                    }
                </div>
            </aside>
        </div>

        <div class="col-md-9 col-sm-8 col-xs-12">
            <article class="combine">
                <div id="combine__canvas" class="combine__canvas">
                    <div class="combine__box combine__box--1"></div>
                    <div class="combine__box combine__box--2"></div>
                    <div class="combine__box combine__box--3"></div>
                    <div class="combine__box combine__box--4"></div>
                    <div class="combine__box combine__box--5"></div>
                    <div class="combine__box combine__box--6"></div>
                    <div class="combine__box combine__box--7"></div>
                    <div class="combine__box combine__box--8"></div>
                    <div class="combine__box combine__box--9"></div>
                </div>
            </article>
        </div>
    </div>
</section>