﻿@model Squares.Models.ViewModel.SetCreateView

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<section class="container-fluid layout">
    <header class="page__title">
        <h1>Create set</h1>
    </header>
</section>

<section class="container-fluid layout__container">
    <div class="row create-set--container">
        <div class="col-sm-8 col-xs-12">
            @using (Html.BeginForm("Create", "Set", FormMethod.Post, new { enctype = "multipart/form-data", id = "dropzone-upload", @class = "dropzone form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form__info">
                    <div class="form__row title__row row">
                        <div class="col-xs-6">
                            @Html.LabelFor(model => model.SetTitle)
                            @Html.EditorFor(model => model.SetTitle, new { htmlAttributes = new { placeholder = "Write your title", maxlength = "40", id = "setTitle" } })
                            <span class="form__required">*</span>
                        </div>
                        <div class="col-xs-6">
                            @Html.LabelFor(model => model.SelectedCategory)
                            @Html.DropDownListFor(model => model.SelectedCategory, Model.Categories)
                        </div>
                    </div>

                    <div class="form__row">
                        @Html.LabelFor(model => model.SetDescription)
                        @Html.TextAreaFor(model => model.SetDescription, new { placeholder = "Describe your set" } )
                    </div>
                    <input id="uploadFiles" class="not-active" type="submit" name="submit" value="Create set" disabled="true">
                </div>
                <div id="dz-message" class="dz-message">
                    <div class="dz-message-inner">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <p>Upload pieces</p>
                        <span>PNG or JPG</span>
                    </div>
                </div>
            }
        </div>

        <div class="col-sm-4">
            <h2>Instructions</h2>
            <p>Here it is possible to create a new 'set'. With your unique 'set' you make it possible for others to design and create new works of art, but with your touch.</p>
            <p>See how many likes your personal set can get and like other artists.</p>
            <p>You can upload from 5 to 25 unique 'pieces'. The only requirement they must meet is that they must be perfectly square.</p>
        </div>
    </div>

    <div class="modal fade modal-msg" id="loadingModal">
        <div class="modal-msg-content">
            <div class="modal-msg-content--inner">
                <div>
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <h4>Don't refresh page</h4>
                <p>Creating set...</p>
            </div>
        </div>
    </div>

    <div class="modal fade modal-msg" id="succesModal">
        <div class="modal-msg-content">
            <div class="modal-msg-content--inner">
                <div>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <p>Set created</p>
            </div>
        </div>
    </div>
</section>

