﻿@using Squares.Models.ViewModel

<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Squares Admin - @ViewBag.Title</title>
    <meta name="description" content="Squares is a site about...">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/css/main.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/js/main.min.js"></script>
</head>
<body>
    @Html.Partial("_Header", new UserLoginView())

    <div id="nav--small" class="nav--small"><i class="fa fa-bars" aria-hidden="true"></i></div>

    <div class="wrapper">
        <!-- Sidebar with menu -->
        @Html.Partial("_Menu")

        <main id="main" role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
