﻿@model Squares.Models.ViewModel.UserDetailsView
@using Squares.Helpers

@{
    ViewBag.Title = Model.User.UserFirstName + " " + Model.User.UserLastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SocialMetaTags {
    <meta property="og:url" content="http://squaresapp.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Squares - @ViewBag.Title" />
    <meta property="og:description" content="Visit my profile to see all my newest sets, and try to combine my pieces to make new art." />

    @if (Model.User.UserProfileImage == "")
    {
        <meta property="og:image" content="@HtmlExtensions.FullyQualifiedUri("~/Content/img/users/default/default-profileimage.jpg")" />
    }
    else
    {
        <meta property="og:image" content="@HtmlExtensions.FullyQualifiedUri("~/Content/img/users/user" + Model.User.UserID + "/" + Model.User.UserProfileImage)" />
    }
}

<section class="container-fluid profile">
    <div class="profile__container">
        <div class="profile__item profile__image">
            @if (Model.User.UserProfileImage == "")
            {
                <img class="img--round" src="@Url.Content("~/Content/img/users/default/default-profileimage.jpg")" alt="@Model.User.UserFirstName @Model.User.UserLastName">
            }
            else
            {
                <img class="img--round" src="@Url.Content("~/Content/img/users/user" + Model.User.UserID + "/" + Model.User.UserProfileImage)" alt="@Model.User.UserFirstName @Model.User.UserLastName">
            }
        </div>

        <div class="profile__item profile__name">
            <h1>@Model.User.UserFirstName @Model.User.UserLastName</h1>
            @if (Model.User.UserProfession != null || Model.User.UserProfession != "")
            {
                <p>@Model.User.UserProfession</p>
            }
            <div>
                <ul>
                    @if (!String.IsNullOrEmpty(Model.User.UserCity) || !String.IsNullOrEmpty(Model.User.UserCountry))
                    {
                        <li>
                            @if (!String.IsNullOrEmpty(Model.User.UserCity))
                            {
                                @Model.User.UserCity
                                if (!String.IsNullOrEmpty(Model.User.UserCountry))
                                {
                                    @:, @Model.User.UserCountry
                            }
                            }
                            else if (!String.IsNullOrEmpty(Model.User.UserCountry))
                            {
                                @Model.User.UserCountry
                            }
                        </li>
                    }
                    <li>
                        <a href="mailto:@Model.User.UserEmail">@Model.User.UserEmail</a>
                    </li>

                    @if (!String.IsNullOrEmpty(Model.User.UserWebsite))
                    {
                        <li>
                            <a href="http://@Model.User.UserWebsite" target="_blank">@Model.User.UserWebsite</a>
                        </li>
                    }
                </ul>
            </div>

            @if (Model.User.UserDescription != null && Model.User.UserDescription != "")
            {
                <div class="profile__text">
                    <p>@Model.User.UserDescription</p>
                </div>
            }

            @if (Model.CurrentUser != null && Model.User.UserID == Model.CurrentUser.UserID)
            {
                <button class="btn btn--green" href="#">Edit profil</button>
            }
        </div>
    </div>
</section>

<header class="page__title">
    @if (Model.CurrentUser != null && Model.User.UserID == Model.CurrentUser.UserID)
    {
        <h2>Your sets</h2>
    }
    else
    {
        <h2>Sets created by @Model.User.UserFirstName @Model.User.UserLastName</h2>
    }
</header>
<section class="profile__sets sets">

    @if (Model.CurrentUser != null && Model.User.UserID == Model.CurrentUser.UserID)
    {
        <!-- CREATE NEW SET -->
        <article class="set new">
            <div class="new--inner">
                <div class="profile__set--new">
                    <a class="" href="@Url.Action("Create", "Set")"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </article>
    }

    @foreach (var set in Model.User.Sets)
    {
            <!-- set -->
        <article class="set" data-setid="@set.SetID">
            <div class="profile__set--like">
                <span class="likes">@set.Likes.Count</span>
            </div>

            <div class="set--count">@set.Pieces.Count</div>

            <picture class="set__image">
                <img srcset="@Url.Content("~/Content/img/sets/set" + set.SetID + "/" + set.SetCoverImage)" alt="@set.SetTitle">
            </picture>

            @if (Model.CurrentUser != null && Model.User.UserID == Model.CurrentUser.UserID)
                {
                <div class="profile__set--delete">
                    <a class="setDelete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </div>
            }
        </article>
    }

</section>

<div class="modal fade modal-msg" id="loadingModal">
    <div class="modal-msg-content">
        <div class="modal-msg-content--inner">
            <div>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <h4>Don't refresh page</h4>
            <p>Deleting set...</p>
        </div>
    </div>
</div>

<div class="modal fade modal-msg" id="succesModal">
    <div class="modal-msg-content">
        <div class="modal-msg-content--inner">
            <div>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <p>Set deleted</p>
        </div>
    </div>
</div>

<script>
    function DeleteSuccess() {
        setTimeout(function () {
            $("#loadingModal").modal('hide');

            $("#succesModal").modal('show');
            setTimeout(function () {
                window.location.reload();
            }, 1000);
        }, 500);
    }

    function DeleteSet(id) {
        $.ajax({
            type: "POST",
            url: "@(Url.Action("Delete", "Set"))",
            data: { id: id },
            success: function (data) {
                DeleteSuccess();
            }
        });
    }

    $("a.setDelete").on("click", function () {
        var article = $(this).closest('article')
        var id = article.data('setid');

        var answer = confirm("Are you sure you wanna delete this set");
        if (answer) {
            $('#loadingModal').modal('show');
            DeleteSet(id);
        }
    });
</script>
