﻿@model Squares.Models.ViewModel.SetDataView

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<section class="container-fluid">
    <header class="page__title">
        <h1>Manage sets</h1>
    </header>
</section>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var set in Model.Sets)
        {
            <tr data-setid="@set.SetID">
                <td>@set.SetID</td>
                <td>
                    <div class="toolbar__user--thumb" style="margin-left: 0px;">
                        <img class="img--round" src="@Url.Content("~/Content/img/sets/set" + set.SetID + "/" + set.SetCoverImage)" alt="@set.SetTitle">
                    </div>
                </td>
                <td>@set.User.UserFirstName @set.User.UserLastName</td>
                <td>@set.SetTitle</td>
                <td>@set.SetCreatedDate.ToString("dd-MM-yyyy")</td>
                <td><button class="btn btn--green lnkDelete">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade modal-msg" id="loadingModal">
    <div class="modal-msg-content">
        <div class="modal-msg-content--inner">
            <div>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <h4>Don't refresh page</h4>
            <p>Deleting set...</p>
        </div>
    </div>
</div>

<div class="modal fade modal-msg" id="succesModal">
    <div class="modal-msg-content">
        <div class="modal-msg-content--inner">
            <div>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <p>Set deleted</p>
        </div>
    </div>
</div>

<script>
    function DeleteSuccess() {
        setTimeout(function () {
            $("#loadingModal").modal('hide');

            $("#succesModal").modal('show');
            setTimeout(function () {
                $("#succesModal").modal('hide');
            }, 1000);
        }, 500);
    }

    function DeleteSet(tr, id) {
        $.ajax({
            type: "POST",
            url: "@(Url.Action("Delete", "Set"))",
            data: { id: id },
            success: function (data) {
                tr.remove();
                DeleteSuccess();
            }
        });
    }

    $("button.lnkDelete").on("click", function () {
        var tr = $(this).closest('tr')
        var id = tr.data('setid');

        var answer = confirm("Are you sure you wanna delete this set");
        if (answer) {
            $('#loadingModal').modal('show');
            DeleteSet(tr, id);
        }
    });
</script>
